---
// @ts-ignore
import { Icon } from "astro-icon/components";
import yaml from 'yaml';
import fs from 'fs';


//Read file and convert to JSON
const obj = yaml.parse(fs.readFileSync('./src/features.yaml', 'utf8'));
const features2 = obj.features;
const personas = obj.personas;
const benefits = obj.benefits;

console.log(obj);
---

<div class="mt-16 md:mt-0">
  <h2 class="text-3xl lg:text-4xl font-semibold lg:tracking-tight">
    Introducing M-Agent
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    In today’s digital marketing landscape, navigating multiple channels and strategies can be overwhelming. 
    M-Agent is an AI-driven marketing agent designed to simplify and enhance your marketing efforts. 
    From analyzing your marketing profile to executing targeted campaigns, 
    M-Agent provides a comprehensive solution tailored to your business needs.
    M-Agent provides:
  </p>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-6 gap-16">
    {
      benefits.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>

</div>

<div class="mt-16 md:mt-0">

  <h2 class="text-3xl lg:text-3xl font-semibold lg:tracking-tight mt-14">
    What does M-Agent do for you?
  </h2>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-6 gap-16">
    {
      features2.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<div class="mt-16 md:mt-0">

  <h2 class="text-2xl lg:text-2xl font-semibold lg:tracking-tight mt-14">
    Who is M-Agent for?
  </h2>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-6 gap-16">
    {
      personas.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

